<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Doctor sign-up</div>
    </div>
    <div class="card-body">
      <!-- FORM FOR NEW TODO ITEMS -->
      <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="create()">
        <div class="col-12">
          <div class="input-group">
            <input name="name" [(ngModel)]="saveDoctor.name" type="text" class="form-control"
              placeholder="doctor name" />
          </div>
          <div class="input-group">
            <input name="specialization" [(ngModel)]="saveDoctor.specialization" type="text" class="form-control"
              placeholder="doctor specialization" />
          </div>
          <div class="input-group">
            <input name="yearsOfExperience" [(ngModel)]="saveDoctor.yearsOfExperience" type="number"
              class="form-control" placeholder="doctor yearsOfExperience" />
          </div>
          <div class="input-group">
            <input name="hospital" type="text" [(ngModel)]="saveDoctor.hospital" class="form-control"
              placeholder="doctor hospital" />
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <!-- {{saveDoctor | json}} -->
      </form>
      <pre>
      </pre>
      <!-- TODO ITEMS LIST -->
      <!-- <ul id="TodoList">
        <li *ngFor="let todoItem of todoItems">
          <i class="fa fa-trash-o" (click)="delete(todoItem.id)"></i> {{ todoItem.text }}
        </li>
      </ul> -->
    </div>
  </div>
</div>